body {
    background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: #C1D9D9
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 12px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}
th {
  background-color: #008ae6;
  font-size: large;
  color: white;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
