/* Could go with a background image or grey looks good with shadow */
body {
    background-color: #C0C0C0;
}
/* Would like to make this available in mobile & desktop screns */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  min-width: 400px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  background-color: #C1D9D9;
  margin-top: 20px;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 12px 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
th {
  background-color: #008ae6;
  font-size: large;
  color: white;
}
/* This will alternate colors of each piece of the table */
tr:nth-child(even) {
  background-color: #dddddd;
}
/* Define the main Navigation block */
.myNav {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #008ae6;
    border: 2px solid #dddddd;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}
/* Remove bullets, margin and padding */
.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* Could use float or inline? */
.myNav li {
    display: inline-block;

}
/* Define the block styling for the links */
.myNav li a {
    display: inline-block;
    padding: 8px 10px;
    font-size: 20px;
    color: white;
    font-family: arial, sans-serif;
    z-index: 1;
}
.myNav li a:hover {
  color: #C1D9D9;
}
/* This is optional, however if you want to display the active link differently apply a background to it */
.myNav li a:active {
    background-color: #3786E1;
}
a:link {
  text-decoration: none;
}
