@font-face {
    font-family: 'RoBoto';
    src: url('../fonts/RoBoto-Regular.ttf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'RoBoto';
    src: url('../fonts/RoBoto-Bold.ttf') format('truetype');
    font-weight: 700;
 }
 @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
 }
 @font-face {
     font-family: 'Ubuntu';
     src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
     font-weight: 700;
  }
