
header {
    background-color: #586CEF;
    font-family: sans-serif;
    font-size: 10pt;
    text-transform: uppercase;
    margin: 1;
    height: 2.15em;
    text-align: right;
}
body {
  font-family: Verdana, Arial, Tahoma;
  font-size: 12px;
  background: #C2C6E0;
}
img {
  height: 100%;
  width: 100%;
}
.menu-item {
    display: inline-block;
    margin: 0 0;
    min-width: 8em;
    text-align: center;
    background-color: #586CEF;
    padding: 0.5em 0;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
}
.menu-item:hover {
    background-color: black;
}
.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0;
    margin-top: 0.5em;
    color: #000;
    background-color: #586CEF;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0.5em;
    min-width: 7em;
}
.dropdown-item:hover, .dropdown-item:hover a {
    color: #baf0ef;
    background-color: #a2a2a2;
}
.frame {
  border:8px solid #586CEF;
  overflow: hidden;
  display: flex;
  height: 200px;
  width: 200px;
  float: right;
}
